rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {

      function is_owner() {
        return request.auth.uid == userId;
      }

      allow get: if is_owner();
      allow list: if is_owner();

      allow create: if is_owner();
      allow update: if false;
      allow delete: if false;

      match /notes/{noteId} {
        allow read, write: if is_owner();
      }
    }
  }
}
